
table {
    border-collapse: collapse;
    margin: auto;
}
table, th, td {
    border: 1px solid black;
}
h1,th, td {
    padding: 10px;
    text-align: center;
}
th {
    background-color: #4c4eaf;
    color: white;
}
